*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    border-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 8 vmin;
    color: brown;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #170909;
    color: #ffffff;
    border-radius: 1rem;
    border: none;
    
}